.container {
    /* background-color: blue; */
}

.songlistContainer {
    display:flex;
    flex-direction: column;
}

.playerContainer {
    display:grid;
    grid-template-columns: 65px 2fr 2fr 35px 35px;
    grid-template-rows: 30px 30px;
    grid-template-areas: 
        'ppButton name duration prev next'
        'ppButton prog prog prev next'
}

.label {
    grid-area: name;
    text-align: left;
    padding: 5px;
    padding-bottom: 0px;
}

audio::-webkit-media-controls-panel {
    background-color: rgba(205, 205, 205)
}

.playPauseAudio {
    grid-area: ppButton;
    height: 50px;
    width: 50px;
}

.nextButton {
    grid-area: next;
    background: transparent;
    border:none;
}

.nextIcon {
    cursor: pointer;
}

.prevButton {
    grid-area: prev;
    background: transparent;
    border:none;
}

.prevIcon {
    cursor: pointer;
}

.selectSong {
    height: 15px;
    width: 15px;
}

.button {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgba(205, 205, 205, 0.35);
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
}

.currentSong {
    margin-left: 5px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.selectableSong {
    margin-left: 5px;
    cursor: pointer;
}

.selectableSong:hover {
    text-decoration: underline;
}

.durationText {
    grid-area: duration;
    text-align: left;
    padding: 8px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 14px;

}

.songContainer {
    display:flex;
    margin-top: 5px;
    margin-bottom: 5px;
}