.container {
    background-color: rgba(25, 25, 180, 0.082);
    margin-right: auto;
    margin-left: auto;
    flex-grow: 1;
    margin-bottom: 40px;
    padding: 35px 30px 45px;
    padding-bottom: 80px;
    width: 975px;
    position: relative;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid rgba(150, 150, 150, 0.4)
}

.form {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.label {
    font-size: 18px;
    width: 100%;
    display:flex;
    flex-direction: column;
    background-color: rgba(231, 228, 228, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: 5px;
    padding: 10px;
}

.buttonContainer {
    width: 75%;
    display:flex;
    justify-content:space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submitButton {
    cursor: pointer;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-weight: bold;
    padding: 6px 5px 5px 5px;
    outline:none;
    height: 40px;
    width: 80px;
}

.cancelButton {
    cursor: pointer;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-weight: bold;
    padding: 6px 5px 5px 5px;
    outline:none;
    height: 40px;
    width: 80px;
}

textarea {
    resize:none;
}