.container {
    display:flex;
    flex-direction: column;
}

.bubbleContainer {
    display:flex;
}

.profileImage {
    height: 280px;
    width: 280px;
}

.userContainer {
    align-self: center;
}