.container {
    display:flex;
    flex-direction: column;
}

.bubbleContainer {
    display:flex;
    flex-wrap: wrap;
}

.profileImage {
    height: 280px;
    width: 280px;
}

.userContainer {
    align-self: center;
}

.loggedOutPage {
    display:flex;
    flex-direction: column;
    align-items:center;
}