.container {
    cursor: pointer;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom: 10px;
    width: 100%;
}

.image {
    height: 120px;
    width: 120px;
}

.artistName {
    font-size:20px;
    text-shadow: 2px 2px 2px rgba(215, 219, 219, .65);
}