.bioContainer {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 30px;
    text-align: center;
}

.artistImage {
    cursor: pointer;
    height: 120px;
    width: 120px;
}

.artistBio {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.artistName {
    font-size: 20px;
    font-weight: bold;
}

.artistLocation {
    font-size: 14px;
}

