.bioContainer {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 30px;
    text-align: center;
}

.artistImage {
    cursor: pointer;
    height: 120px;
    width: 120px;
}

.artistBio {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.artistName {
    font-size: 20px;
    font-weight: bold;
}

.artistLocation {
    font-size: 14px;
}

.follow {
    cursor: pointer;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-weight: bold;
    padding: 6px 5px 5px 5px;
    outline:none;
}