.login__page-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-areas:
        '. form .'
}

@media (max-width: 768px){
    .login__page-container {
        display:grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas:
            'form'
    }
}

.login__form{
    grid-area: form;
}

.login__header {
    text-align: center;
}

.login__label {
    display:flex;
    flex-direction:column;
    padding: 10px;
}

.login__button-container{
    display:flex;
    justify-content:space-around;
}

.login__button{
    border: none;
    background-color: transparent;
}

.login__icon {
    height: 40px;
    width: 40px;
}

.login__icon:hover {
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(60, 60, 60, 0.65);
    transform: scale(1.25);
    border-radius: 50%;
    transition-property: transform;
    transition-duration: .3s;
    transition-delay: 0s;
}

.login__error-text {
    color: darkred;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(215, 219, 219, .65);
}

.login__input {
    height: 35px;
    font-size: 24px;
}